@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 217, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* préférance du jeux de couleur */
 @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 38, 40, 42;
    --background-end-rgb: 0, 0, 0;
  }
} 

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 38, 40, 42;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  background-attachment: fixed;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
   rgb(var(--background-start-rgb));  */
}

.card {
  perspective: 1000px; /* Ajoutez une perspective pour un effet 3D */
}

.card-inner {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
}

.flipped.card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
}

.tooltip-text {
  visibility: hidden; 
  position: absolute;
  z-index: 100; 
  
}

.group:hover .tooltip-text {
  visibility: visible; /* Visible au survol */
}

h1 {
  font-size: 3em;
}

.menu {
  filter: url("#goo");
}

.menu-item, .menu-open-button {
  background: #e91e63;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: fixed;
  left: 50%;
  
  padding-top: 20px;
  
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  transition: transform ease-out 200ms;
}

.menu-item:hover {
  background: white;
  color: #e91e63;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(-250px, 125px, 0);
}



.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  transform: translate3d(-205px, -9px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  transform: translate3d(-110px, 55px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  transform: translate3d(-110px, 155px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  transform: translate3d(-205px, 209px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  transform: translate3d(-295px, 155px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  transform: translate3d(-295px, 55px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  transform: translate3d(-205px, -9px, 0);
}



@media (max-width: 767px) {
  .menu {
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    padding-left: 150px;
  }

  .menu-item, .menu-open-button {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .hamburger {
    width: 20px;
    height: 2px;
    margin-left: -10px;
    margin-top: -1px;
  }
}

/* Pour les écrans de 768px à 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    left: 100%;
    margin-left: -170px;
    width: 340px;
    height: 220px;
    padding-left: 170px;
  }
}

/* Pour les écrans plus grands que 1023px */
@media (min-width: 1024px) {
  .menu {
    left: 50%;
   
    width: 80px;
    height: 80px;
    
  }
}
